.header {
    background-color:  rgb(241, 222, 199);
    height: 60px;
    display: flex;
justify-content: space-evenly;
align-items: center;
  }

  .point{
display: inline;
}

ul li a{
padding: 10px 20px;
text-transform: uppercase;
text-decoration: none;
color: #163152;
font-style: normal;
font-family: 'Marck Script', sans-serif;
font-size: larger;
}

.headerimage{
display: flex;
}

  body{
    height: 2000px;
  }
  
  .main {
    padding: 0;
    display: flex;
    height: 1600px;
  }

  .article {
    background-color: rgb(121, 103, 137);
    min-height: 400px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .mainpart {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: flex-start;
  }

  .maintext {
    height: 10%;
    margin: 10px;
  }

  .parent {
    display: flex;
    width: 100%;
    height: 37px;
    flex-wrap: wrap;
align-content: space-around;
justify-content: center;

  }

  .block {
    width: 50%;
    height: 380px;
    
  }

  .aside {
    background-color: rgb(25, 47, 3);
    min-height: 400px;
    width: 30%;
    display: flex ;
    flex-direction: column;
  }

  .asidepart {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: flex-start;
  }

.container{
width: 100%;
height: 1500px;

display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}

  .asideimage{
width: 25%;
background-color: aquamarine;
height: 200px;
width: 50%;
}

  .asidetext {
    height: 10%;
    margin: 10%;
  }

  .footer {
    background-color: rgb(241, 222, 199);
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .sectionfooter {
    background-color: rgb(239, 229, 229);
    width: 22%;
    height: 75%;
    text-align: center;
    vertical-align: middle;
  }
  .text {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sectionfooter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .smalltext {
display: inline-block; 
overflow: hidden; /* Скрываем всё за контуром */
}
.smalltext, .flytext{
transition: 1s; /* Время эффекта */
display: block; 
}
.smalltext, .flytext:hover {
transform: scale(1.2); /* Увеличиваем масштаб */
}